.links {
  padding: 50px 50px 20px 50px;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  background-color: var(--links-background);


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:nth-child(n) {
    margin-bottom: 5px;
  }

  &__icon {
    margin-right: 5px;
    color: var(	--links-icon) !important;

    &:hover {
      color: var(--links-icon-hover);
    }
  }
  
  &__text {
    font-size: 13px !important;
    text-decoration: none !important;
    color: var(--links-text) !important;
  }
}
