.chipList {
  margin-bottom: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &__item {
    margin: 5px !important;

    background-color: #ebfdfd !important;
  }
}
