.aboutBlock {
  max-width: 450px;

  &__inputs {
    padding: 0 20px;
    max-width: 450px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px 24px;
  }

}

.aboutBlock__input {
  width: 100%;

  :-webkit-autofill {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}