.experience {
  padding: 50px;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  background-color: var(--m-background-color);

  &__title {
    margin-bottom: 28px;

    font-size: 32px;
    text-align: center;
    color: #fff
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__position {
    font-size: 14px;
    color: #fff;
  }

  &__date {
    color: grey;
  }

  &__description {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    color: #fff;
  }
}