.experience {
  padding: 50px;
  width: 100%;
  max-width: 1200px;

  display: flex;
  flex-direction: column;
  background-color: var(--experience-background);

  &__title {
    margin-bottom: 28px;

    font-size: 32px;
    text-align: center;
    color: var(--experience-title)
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__position {
    font-size: 14px;
    font-weight: 600;
    color: var(--experience-position);
  }

  &__date {
    color: grey;
  }

  &__description {
    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    color: var(--experience-description);
  }

  svg {
    color: var(--skills-card-background) !important;
  }
}