.skills {
  &__list {
    margin-bottom: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &__item {
    margin: 5px !important;

    background-color: #ebfdfd !important;
  }

  &__input {
    width: 100%;

    :-webkit-autofill {
      transition: background-color 600000s 0s, color 600000s 0s;
    }
  }

  &__button {
    margin-top: 20px;
  }
}
