.projectCard {
  padding: 12px;
  width: calc(50% - 16px);
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid transparent;
  background-color: var(--projects-card-background);

  &__about {
    margin-bottom: 20px;
  }

  &__title {
    margin-bottom: 15px;

    font-size: 16px;
    color: var(--projects-card-title);
  }

  &__description {
    color: var(	--projects-card-description);
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__linkIcon {
    margin-right: 5px;
    color: var(--projects-card-link) !important;
  }

  &__linkText {
    font-size: 12px !important;
    text-decoration: none !important;
    color: var(--projects-card-link) !important;
  }
}